<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Kapa Web Page">
    <meta name="author" content="Kapa" >

    <title>Kapa_WIP</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/kapa.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <img id="kapa-brand" src="img/Kapa_Logos/Kapa_gray_orange.jpg" alt="">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class=navbar-header">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="gallery.html">Gallery</a>
                        </li>
                        <li>
                            <a href="wip.html"><strong>WIP</strong></a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                <!-- /.navbar-collapse -->
                </div>
            </div>
        <!-- /.container -->
        </div>
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Project
                        <strong>Butterfield Crescent</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/Butterfield_Crescent/BF1.jpg" alt="">
                    <h2>Original Home
                        <br>
                        <small>October 2011</small>
                    </h2>
                    <p>This Home started off in it's original condition, with only minor works having been carried out since it was
                    built in 1958. There were several charming features including several stained glass windows, red brick facade, original concrete roof tiles , period doors and cut string stair case to mention but a few.</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/Butterfield_Crescent/BF2.jpg" alt="">
                    <h2>Rear Elevation
                        <br>
                        <small>October 2011</small>
                    </h2>
                    <p>To the rear, there was a small conservatory and and outside toilet in an adjoining shed.</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/Butterfield_Crescent/BF3.jpg" alt="">
                    <h2>Existing internal Walls and floors
                        <br>
                        <small>April 2012</small>
                    </h2>
                    <p>With the planning process complete, strip out and demolition get under way. The internal finishes are stripped out, with the doors taken away and stored off site along with the stained glass windows.</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/Butterfield_Crescent/BF4.jpg" alt="">
                    <h2>Demolition stages
                        <br>
                        <small>April 2012</small>
                    </h2>
                    <p>The rear wall is removed with the remaining structure propped.The base of the first floor rooms can be seen here with existing blockwork removed to make way for the steel support beam.</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/Butterfield_Crescent/BF5.jpg" alt="">
                    <h2>Steel Frame
                        <br>
                        <small>April 2012</small>
                    </h2>
                    <p>The large steel beam is lifted into position to support the first and second floors. This particular beam is over 10 meters long and weighs in at over 1 ton. It was designed by the engineer to take the load of all of the structure above as well as the new roofs on the extension without the need for a post anywhere in the open plan extension</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/Butterfield_Crescent/BF6.jpg" alt="">
                    <h2>Front elevation during the construction phase
                        <br>
                        <small>May 2012</small>
                    </h2>
                    <p>Part of this project involves an extension over the existing garage, a garage conversion and an over hanging roof projection to the front. Here the blockwork and steel for the roof supports can be seen.</p>
                    <!-- <a href="#" class="btn btn-default btn-lg">Read More</a> -->
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/Butterfield_Crescent/BF7.jpg" alt="">
                    <h2>Rear elevation during the build phase
                        <br>
                        <small>June 2012</small>
                    </h2>
                    <p>With the ground floor and first floor walls up, work on the roof dormer and main roof structure is well under way aswell as the new floor joists in the attic level In this project, the original first floor ceiling was dropped by 150mm to allow a full height attic room.</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/Butterfield_Crescent/BF8.jpg" alt="">
                    <h2>Front elevation
                        <br>
                        <small>July 2012</small>
                    </h2>
                    <p>The main roof is on and water tight, the new brick work to form the front of the playroom is complete. The original head above the garage door has been removed and a new hidden structural support steel has been installed to match the height of the original porch roof. A hardwood timber support carved to the same profile as the porch has been used at the head of the new window opening to harmonise the connection between old and new.</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/Butterfield_Crescent/BF9.jpg" alt="">
                    <h2>Rear elevation
                        <br>
                        <small>July 2012</small>
                    </h2>
                    <p>Work is progressing at a good pace. External finishes are starting to be applied working from the top down.</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/Butterfield_Crescent/BF10.jpg" alt="">
                    <h2>Windows!
                        <br>
                        <small>july 2102</small>
                    </h2>
                    <p>Windows have arrived on site and are being fitted. This is always a key point in a project as from this point on, the build is watertight and weather is no longer a major factor in the progress of the build.</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/Butterfield_Crescent/BF11.jpg" alt="">
                    <h2>More windows!
                        <br>
                        <small>July 2012</small>
                    </h2>
                    <p>Windows to the front. The original stained glass was replicated in the new windows, keeping the original character and charm of the home.</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/Butterfield_Crescent/BF12.jpg" alt="">
                    <h2>Underfloor Heating Pipework
                        <br>
                        <small>July 2012</small>
                    </h2>
                    <p>Underfloor heating pipes laid on insulation ready to receive the finishing floor screed.The building must be watertight for this process.</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/Butterfield_Crescent/BF13.jpg" alt="">
                    <h2>Rear elevation
                        <br>
                        <small>July 2012</small>
                    </h2>
                    <p>Folding patio doors are installed, zinc roof is on the dormer at attic level, external plastering is underway.</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/Butterfield_Crescent/BF14.jpg" alt="">
                    <h2>Stairs ground floor
                        <br>
                        <small>August 2012</small>
                    </h2>
                    <p>Infill panelling will be removed from the original stairs and replaced with new ballustrades and handrail. Electrical and mechanical second fix is underway as is plastering.</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/Butterfield_Crescent/BF15.jpg" alt="">
                    <h2>Bathroom
                        <br>
                        <small>August 2012</small>
                    </h2>
                    <p>Tiled bathroom with recesses formed in the wall for shower gel / shampoo. The structural frame for the wall hung toilet can be seen here on the left</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/Butterfield_Crescent/BF16.jpg" alt="">
                    <h2>Attic level Stairs
                        <br>
                        <small>August 2012</small>
                    </h2>
                    <p>New stairs to the attic is installed to match the style of the original stairs. A void is left at the half landing to allow light through from the rooflight above and to create an open feeling space as you ascend to the attic </p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/Butterfield_Crescent/BF17.jpg" alt="">
                    <h2>Open Plan area
                        <br>
                        <small>september 2012</small>
                    </h2>
                    <p>Ceilings plastered and floors starting to be laid. Services coming up out of the ground for kitchen island.</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/Butterfield_Crescent/BF18.jpg" alt="">
                    <h2>Rear of home
                        <br>
                        <small>september 2012</small>
                    </h2>
                    <p>With external paint finishes complete, a brown granite patio is laid with solid granite edging cut to form a gentle curve.</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/Butterfield_Crescent/BF19.jpg" alt="">
                    <h2>View from the Attic
                        <br>
                        <small>September 2012</small>
                    </h2>
                    <p>A view down from the attic level room shows the rear garden. The shed was built to fit neatly into the acute angle of the corner of the garden to maximize space and minimize visual impact. It has and hand cut french slate roof in a diamond shape with no hip tiles. The shed is finished out on the inside also with a tiled floor and painted finish.</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/Butterfield_Crescent/BF20.jpg" alt="">
                    <h2>Complete
                        <br>
                        <small>october 2012</small>
                    </h2>
                    <p>Finsihed rear elevation. The patio and inside floor levels are the same allowing both spaces to be used together. Door thresholds are sunk into the ground to achieve this</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/Butterfield_Crescent/BF21.jpg" alt="">
                    <h2>Kitchen and dining area
                        <br>
                        <small>october 2012</small>
                    </h2>
                    <p>View from the seating area out to the garden with the dining room and kitchen.</p>
                    <hr>
                </div>
                <!--
                <div class="col-lg-12 text-center">
                    <ul class="pager">
                        <li class="previous"><a href="#">&larr; Older</a>
                        </li>
                        <li class="next"><a href="#">Newer &rarr;</a>
                        </li>
                    </ul>
                </div>
                -->
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Kapa Management Services Ltd 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
